@media(max-width:500px){
    header {
        flex-direction: column;}
        div{
            padding: 25px 30px;   
        }
    nav{
        a:hover{
                color: $color-primario;}
        }
}    
