h2{
    @include flex
}
h1{
    @include flex
}

h3{
    font-size: 10px;
    padding: 2px;
    margin: 2px;
    background-color: $color-terciario;
    color:$color-secundario;
    text-align:center;
} 
p{
    font-size: 12px;
    padding: 0%;
    border: $color-terciario;
    color:$color-secundario;
    text-align:center;
    margin: 20px 10px;
}
h4{
    text-decoration: none;
    color:$color-secundario ;
    text-align:center;
}